body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: 300;
}

.title-primary {
    position: absolute;
    color: $color-white;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
}

.title--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1.5s ease-in;

    @include respond(phone){
        letter-spacing: 1rem;
        font-size: 5rem;
    }
}

.title--sub {
    display: block;
    padding-top: .8rem;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.25rem;
    animation: moveInRight 1.5s ease-in;
    margin-bottom: 6rem;

    @include respond(phone){
        letter-spacing: .5rem;
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-light,$color-dark);
    letter-spacing: .2rem;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all .2s;

    
    @include respond(tab-port){
        font-sizze:2.5rem;
    }
    
    @include respond(phone){
        font-size:2rem;
    }

    &:hover{
        transform: skewY(2deg) skewx(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, 0.2)
     }
}

.heading-tertiary{
    font-family: 'Lato',sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    

}

.paragraph{
    font-family: 'Lato',sans-serif;
    font-size: 1.6rem;
 

   &:not(:last-child){
       margin-bottom: 3rem;
   }
}